{% extends 'baseEmail.html.twig' %}

{% block content %}
    <p class="encart_home_head"><h1>Bonjour {{ user_email }} !</h1></p>

    <p class="encart_home_body"><h3>Vous venez de vous inscrire sur Iboo ?</h3></p>
    <p class="encart_home_body"><h3>Cliquez sur ce bouton pour confirmer<br> votre adresse :</h3></p>
    <a href="{{ signedUrl|raw  }}" style="display:inline-block;background:#00c9ae;color:#FFFFFF;font-family:Helvetica;font-size:14px;font-weight:bold;line-height:120%;margin:0;text-decoration:none;text-transform:none;padding:10px 25px;mso-padding-alt:0px;border-radius:5px;" target="_blank">
        Confirmer mon adresse email
    </a><br>
    <span class="encart_home_head" style="font-family: GalanoGrotesque"><h5>(Ce lien expirera dans {{ expiresAt }}h)</h5> </span><br>

    <p class="encart_home_head"><h5>{{ signature|raw }}</h5> </p>

{% endblock %}

