.idea
/.web-server-pid
/app/config/parameters.yml
/app/files/*
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
!/var/tokens/
/vendor/
/web/bundles/
composer.phar
/web/medias/*
!/web/medias/customers/.gitkeep
!/web/medias/teachers/.gitkeep
/courses/*
/courses_correction/*
/documents/*
/web/app_dev.php
/app/config/config_dev.yml