{% extends 'base-frontend.html.twig' %}
{% block body %}
    <div class="row text-center plane-trajectoire" style="">
        <div class="col-lg-12 encart_home_body">
            <p>
                Nous vous avons envoyé un courriel à l'adresse<br>
                <strong>{{ mail_user }}</strong><br>
                Merci de confirmer votre inscription en cliquant sur le bouton de <br>
                confirmation dans le courriel enfin de pouvoir utiliser <span class="text-green">Iboo</span>
            </p>
            <p class="my-4"> <small>Vous n'avez pas reçu de mail? </small></p>
            <p> <small>(Pensez à vérifier votre dossier << Courrier indésirable >> ou << Spam >> )</small></p>
            <p> <a class="text-red" href="{{ path('app_re_send_email_confirmation') }}">Me renvoyer un mail de confirmation</a></p>
        </div>
    </div>
    <div class="world-globe ">
        {{ include('shared/partenaire.html.twig') }}
    </div>
    <br><br>
{% endblock %}
