{% extends "base-frontend.html.twig" %}
{% block title %}Bienvenue sur Iboo{% endblock %}

{% block body %}
	<div id="preloader" class="d-none">
		<div class="loader">
			<svg class="circular" viewBox="25 25 50 50">
				<circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
			</svg>
		</div>
	</div>
	
	{# Header section #}
	{% include "frontend/home/header.html.twig" %}
	
	<section class="mt-4">
		{% include "frontend/home/advantage.thml.twig" %}
	</section>

	<section id="guide" class="container world-globe" style="max-width: 1700px !important;">
		{% include 'frontend/home/guide.html.twig' %}
	</section>

	<section id="testmoniaux">
		{% include 'frontend/home/testimonial.html.twig' %}
	</section>

	<section id="mission" class="container world-globe">
		<h2 class="text-center encart_home_head text-green">Pourquoi Iboo ? </h2>
		<div class="text-center encart_home_body space-title">Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam fringilla orci tincidunt, ullamcorper erat in, malesuada metus. Vivamus luctus maximus vestibulum. Donec et enim vitae tellus auctor ornare. Aenean leo diam, feugiat sed nulla sed, consequat venenatis est. Praesent commodo consequat pharetra. Fusce fermentum ante ac metus interdum elementum. Nam arcu lectus, lacinia non augue a, mollis bibendum augue.</div>
	</section>

	<section id="tarifs" class="container ">
		{{ include('frontend/home/tarif.html.twig') }}
	</section>

	<section id="partenaires" class="world-globe">
		{{ include('shared/partenaire.html.twig') }}
	</section>

	<br><br>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script>
		$(document).ready(function() {
			let $videoSrc;
			$('.video-btn').click(function() {
				$videoSrc = $(this).data( "src" );
			});
			$('#myModal').on('shown.bs.modal', function (e) {
				$("#video").attr('src',$videoSrc + "?autoplay=1&amp;modestbranding=1&amp;showinfo=0" );
			})
			$('#myModal').on('hide.bs.modal', function (e) {
				$("#video").attr('src',$videoSrc);
			})

			/** carousel control */
			$('.carousel-control-prev').on('click',function (e){
				e.preventDefault()
				$(this).parents('.carousel').carousel('prev')
			})
			$('.carousel-control-next').on('click',function (e){
				e.preventDefault()
				$(this).parents('.carousel').carousel('next')
			})


			/***/
			window.onscroll = function() {
				var currentScrollPos = window.pageYOffset;
				if(currentScrollPos > 99 ){
					$(document).find('.mobile-call-scrool').addClass('hidden')
				}else{
					$(document).find('.mobile-call-scrool').removeClass('hidden')

				}
			}
		});
	</script>
{% endblock %}
