{% extends 'base-frontend.html.twig' %}


{% block title %}Réunion expirée{% endblock %}

{% block body %}

    {% set d_moderator = 'd-none' %}
    {% set d_participant = 'd-none' %}

    {% if post == 'presenter' %}
        {% set d_moderator= '' %}
    {% else %}
        {% set d_participant= '' %}
    {% endif %}

    <div class="row text-center bg-expired-meeting">
        <div class="col-lg-12 encart_home_body">
            <div class="box-host {{ d_moderator }}">
                <p><h2>Cette <span class="text-green">réuniboo</span> a expiré!</h2></p>
                <p>
                <h6>
                    Lorsque vous créez une réunion avec un compte gratuit, celle-ci est<br>
                    limitée à 20 minutes et expire à la fin.
                </h6>
                </p>
                <p>
                <h6>
                    Vous pouvez créer une autre réunion gratuite dans votre espace <span class="text-green">Réunion</span>
                </h6>
                </p>
                <p><small>Vous souhaitez créer une réunion sans limiataion de durée ? </small></p>
                <p>
                <div class="row ">
                    <div class="col-lg-12 col-md-10 mx-auto text-center">
                        <a href="{{ path('app_espace_client_subscription_list') }}" role="button" class="btn background-red col-lg-2 text-center contact-btn"> <h6>Choisir un abonnement</h6></a>
                    </div>
                </div>
                </p>
            </div>
            <div class="box-participant {{ d_participant }}">
                <p><h2>Cette <span class="text-green">réuniboo</span> a expiré!</h2></p>
                <p>
                <h6>
                    Attendez de recevoir une nouvelle invitation pour pouvoir <br>
                    participer à une <span class="text-green">réuniboo.</span>
                </h6>
                </p>
                <p><small>Vous souhaitez créer votre propre réunion ? </small></p>
                <p>
                <div class="row ">
                    <div class="col-lg-12 col-md-10 mx-auto text-center">
                        <a href="{{ path('app_register') }}" role="button" class="btn background-red col-lg-2 text-center contact-btn"> <h6>Je m'inscrit</h6></a>
                    </div>
                </div>
                </p>
            </div>
        </div>
    </div>

    <div class="login-rs">
        {% include "shared/social-network-icons.html.twig" %}
    </div>

    <div class="world-globe">
        {% include 'shared/partenaire.html.twig' %}
    </div>
    <br><br>
{% endblock %}
