.multi-item-carousel {
  overflow: hidden;
}
.multi-item-carousel .carousel-indicators {
  margin-right: 25%;
  margin-left: 25%;
}
.multi-item-carousel .carousel-control-prev,
.multi-item-carousel .carousel-control-next {
  /*background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), white);
  width: 25%;
  !* .carousel-caption has z-index 10 *!
  z-index: 11;*/
  width: 25%;
  margin-right: 62.5%;
  margin-left: 62.5%;

}
.multi-item-carousel .carousel-inner {
  width: 150%;
  left: -25%;
}
.multi-item-carousel .carousel-item-next:not(.carousel-item-left),
.multi-item-carousel .carousel-item-right.active {
  -webkit-transform: translate3d(33%, 0, 0);
  transform: translate3d(33%, 0, 0);
}
.multi-item-carousel .carousel-item-prev:not(.carousel-item-right),
.multi-item-carousel .carousel-item-left.active {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}
.multi-item-carousel .item__third {
  float: left;
  position: relative;
  width: 33.33333333%;
}

.slide-img{
	padding-left: 15px;
    padding-right: 15px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300C9AE' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300C9AE' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.multi-item-carousel .degradePrev{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 11;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  transition: opacity 0.15s ease;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.1), white);
}
.multi-item-carousel .degradeNext{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  color: #fff;
  text-align: center;
  opacity: 0.7;
  transition: opacity 0.15s ease;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), white);
}
.btnPlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-left: 47%;
}
.checked {
  color: orange;
}

#recipeCarousel .carousel-control-prev,
#recipeCarousel .carousel-control-next {
  background: rgba(255, 255, 255, 0.3);
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), white);*/
  width: 25%;
  /* .carousel-caption has z-index 10 */
  /*z-index: 11;*/
  margin-left: -13%;
  margin-right: -13%;
}
