.multi-item-carousel {
  overflow: hidden;
}
.multi-item-carousel .carousel-indicators {
  margin-right: 25%;
  margin-left: 25%;
}
.multi-item-carousel .carousel-control-prev,
.multi-item-carousel .carousel-control-next {
  /*background: rgba(255, 255, 255, 0.3);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), white);
  width: 25%;
  !* .carousel-caption has z-index 10 *!
  z-index: 11;*/
  width: 5%;
  margin-right: 73.5%;
  margin-left: 73.5%;
  z-index: 99999999;
}
.multi-item-carousel .carousel-inner {
  width: 150%;
  left: -25%;
}
.multi-item-carousel .carousel-item-next:not(.carousel-item-left),
.multi-item-carousel .carousel-item-right.active {
  -webkit-transform: translate3d(33%, 0, 0);
  transform: translate3d(33%, 0, 0);
}
.multi-item-carousel .carousel-item-prev:not(.carousel-item-right),
.multi-item-carousel .carousel-item-left.active {
  -webkit-transform: translate3d(-33%, 0, 0);
  transform: translate3d(-33%, 0, 0);
}
.multi-item-carousel .item__third {
  float: left;
  position: relative;
  width: 33.33333333%;
  padding: 15px;
}
.carousel-item .itemsContainer:nth-child(2) .image>img{
  transform: scale(1.08);
}

.slide-img {
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
}
@media (min-width: 360px) {
.slide-img {
    height:150px;
  }
}
@media (min-width: 573px) {
.slide-img {
  height: 220px;
  }
}
@media (min-width: 768px) {
.slide-img {
    height:250px;
  }
}
@media (min-width: 992px) {
.slide-img {
    height:300px;
  }
}

@media (min-width: 1200px) {
.slide-img {
    height:340px;
  }
}
.carousel-control-prev-icon {
  width: 19px;
  height: 34px;
  transform: rotate(180deg);
  background: transparent url('../images/chevron-down.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.carousel-control-next-icon {
  width: 19px;
  height: 34px;
  background: transparent url('../images/chevron-down.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
}

.multi-item-carousel .degradePrev{
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 11;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s ease;
  background: linear-gradient(-90deg, rgba(255, 255, 255, 0.1), white);
}
.multi-item-carousel .degradeNext{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 25%;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s ease;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), white);
}
.btnPlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin-left: 47%;
}
.checked {
  color: orange !important;
}

#recipeCarousel .carousel-control-prev,
#recipeCarousel .carousel-control-next {
  background: rgba(255, 255, 255, 0.3);
  /*background: linear-gradient(90deg, rgba(255, 255, 255, 0.3), white);*/
  width: 25%;
  /* .carousel-caption has z-index 10 */
  /*z-index: 11;*/
  margin-left: -13%;
  margin-right: -13%;
}
