.nav-item{
    padding:10px;
    z-index: 1;
}
.nav-item:hover{
    color:rgba(0,201,174,1);
}

@media (max-width:991px){
    .menu-primary .nav-item{
       text-align: right;
    }
    .menu-primary.open {
        position:absolute !important;
        z-index:9999 !important;
     }
    .menu-primary.open .navbar{
        background: #ccfff8 !important;
        text-align:right !important;
        border-radius: 0% 0% 50% 50% / 0% 0% 7% 7% !important;
        padding-bottom: 50px !important;
    }    
    .menu-primary .nav-item.sign {
        margin-top: 5vh !important;
    }
    .menu-primary .nav-item.sign .btn {
        margin-top: 1vh;
        width:70%;
    }
}


section p {
    color: #062944;
}
.h5, h5 {
    color: #062944;
}
.login{
    background-color:rgba(0,201,174,1);
    color:white;
    margin-top:0px;
    font-family: "GalanoGrotesque";
    letter-spacing: 0px;
    font-size: 15px;
    opacity: 1;
    /*padding:10px 40px;*/
    padding:8px 40px 10px 40px;
}

@media (min-width: 360px) {
.login{
    padding:8px 15px 10px 15px;
    }
}
@media (min-width: 768px) {
.login{
    padding:8px 25px 10px 25px;
    }
}

.box-shadow-login {
    box-shadow: 0px 0px 12px #0000001A;
    border-radius: 6px;
    opacity: 1;
}
.box-shadow-login .form-group{
    margin-bottom: 10px !important;
}

.box-shadow-login .btn-outline-danger,
.form-add .btn-outline-danger,
#navbarResponsive .btn-outline-danger
{
    color: #FF5A5F !important;
}

.box-shadow-login .btn-outline-danger:hover,
.box-shadow-login .btn-outline-danger:focus,
.box-shadow-login .btn-outline-danger:active,
.form-add .btn-outline-danger:hover,
.form-add .btn-outline-danger:focus,
.form-add .btn-outline-danger.active,
#navbarResponsive .btn-outline-danger:hover,
#navbarResponsive .btn-outline-danger:focus,
#navbarResponsive .btn-outline-danger.active
{
    color: #ffffff !important;
    background-color: #FF5A5F !important;
    border-color: #FF5A5F !important; /*set the color you want here*/
}

.remove_participant.btn-danger {
    background-color: #FF5A5F !important;
}

.signup {

    background-color:rgba(0,201,174,1);
    color:white;

}
.signin {
    margin-top:0px;
    font-family: GalanoGrotesque ;
    letter-spacing: 0px;
    font-size: 15px;
    opacity: 1;
    /*padding:10px 40px;*/
    padding:8px 40px 10px 40px;
}

@media (max-width: 992px) {
    .signin {
        padding: 8px 32px 10px 32px;
    }
}


.text-green {
    color: rgba(0,201,174,1) !important;
}
.text-red {
    color: #FF5A5F;
}
.background-red {
    background-color: #FF5A5F;
    color: #ffffff;
}
.background-red :hover{
    color: #ffffff;
}
a.link { color: rgba(0,201,174,1) !important; }

header.masthead {
    /*margin-bottom: 50px;*/
    background: no-repeat center center;
    background-color: rgba(0, 0, 0, 0);
    background-attachment: scroll;
    background-image: none;
    background-size: auto;
    position: relative;
    /*background-size: cover;*/
}

.masthead {
    padding-top: 6vh;
    padding-bottom: 2vh;
}

.masthead h1 {

    font-style: normal;
    font-weight: lighter;
    font-size: 100px;
    color: rgba(0,201,174,1);
    font-family: GalanoGrotesque ;
    z-index: 1;
}
.masthead h2 {
    font-family: GalanoGrotesque ;
    font-style: normal;
    font-weight: lighter;
    font-size: 3vw;
    color: rgba(6,41,68,1);
    z-index: 1;
    max-width: 75%;
}
.site-heading{
    z-index: 1;
}
.masthead:before{
    content: url('../images/Hiboo-Watermark.svg');
    position: absolute;
    z-index: -1;
    left: 0;
    top: -50px;
}
.masthead:after {
    content: url('../images/Hiboo-Image-Fond.svg');
    position: absolute;
    z-index: -1;
    right: 15px;
    bottom: 10px;
}
.site-heading .btn{
    background-color: #FF5A5F !important;
    font-family: GalanoGrotesque;
    font-size: 18px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 3px;
}

.world-globe h3{

    color:rgba(0,201,174,1);
}
.world-globe{

    margin-top:50px;
}

.card0 {
    border:none;
    border-radius: 0px
}

.card2 {

}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px
}

.image {
    width: 360px;
    height: 280px
}

.border-line {
    border-right: 1px solid #EEEEEE
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}
.instagram {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}
.linkedin {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}
.youtube {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}
.signwith{

}

.fa-heart{

    color:rgba(255,90,95,1);;
}

.footer-icon{
    margin-left: 7px;
    cursor: pointer;
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px
}

.or {
    width: 10%;
    font-weight: bold
}

.text-sm {
    font-size: 14px !important
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input,
textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;

}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0,201,174,1);
    outline-width: 0
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

a {
    color: inherit;
    cursor: pointer
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer
}

.bg-blue {
    color: #fff;
    background-color: #1A237E
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px
    }

    .image {
        width: 300px;
        height: 220px
    }

    .border-line {
        border-right: none
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px
    }
    
    #image-login {
        display: none;
    }
}

.border-md {
    border-width: 1px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/




select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
    border-color:rgba(0,201,174,1);
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}
li {
    float: left;
}

li  {
    display: block;
    text-align: left;
    padding: 16px;
    text-decoration: none;
    float: left;
}
.sign{

}

.footer-menu{
    margin: 0px 10px;
}

.footer-menu:hover{
    color:rgba(255,90,95,1);
    text-decoration: none;
}
.footer-red-underline
{
    border-bottom: solid 3px red;
}
.footer-blue-underline
{
    border-bottom: solid 3px blue;
}
.footer-form{
    margin-bottom:30px;
}
.footer-social{
    padding-bottom:20px;

}
.rectangle{
    background-color: #ccfff8;
    margin-top: 30px;
    display: flex;
}
.rectangle-logo{
    margin: auto;
}

/* carousel */
.media-carousel
{
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left
{
    left: -12px;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right
{
    right: -12px !important;
    background-image: none;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    height: 40px;
    width : 40px;
    margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators
{
    right: 50%;
    top: auto;
    bottom: 0px;
    margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li
{
    background: #c0c0c0;
}
.media-carousel .carousel-indicators .active
{
    background: #333333;
}
.media-carousel img
{
    width: 250px;
    height: 100px
}
/* End carousel */

.fa-star {
    color: white;
}
.fa-check-circle{
    color:rgba(0,201,174,1);
}
.start{
    background-color:rgba(0,201,174,1);
    color:white;

}

.mediaViewInfo {
    --web-view-name: Hiboo - Homepage;
    --web-view-id: Hiboo_-_Homepage;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
:root {
    --web-view-ids: Hiboo_-_Homepage;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}
#Hiboo_-_Homepage {
    position: absolute;
    width: 1920px;
    height: 3905px;
    background-color: rgba(255,255,255,1);
    overflow: hidden;
    --web-view-name: Hiboo - Homepage;
    --web-view-id: Hiboo_-_Homepage;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}
@keyframes fadein {

    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}
.encart_home_head {
    font-family: GalanoGrotesque;
    letter-spacing: 0px;
    font-weight: 600;
    opacity: 1;
}
.encart_home_body {
    font-family: GalanoGrotesque !important;
    letter-spacing: 0px;
    opacity: 1;
}
.img-title{
    font-size: 24px;
    font-weight: 500;
}
.rs-icons {
    position: absolute;
    z-index: 1;
    right: 5%;
    top: 50%;
}
.card-tarif {
    border: 1px solid  white;
    padding: 10px;
    box-shadow: 0px 0px 18px #efefef;
    font-size: 14px;
    color: #062944;
    margin: 10px 15px;
}
.card-tarif:hover,
.card-tarif.active{
    background-color:rgba(0,201,174,1);
    color: #FFFFFF !important;
    transform: scale(1.06);
}

.card-tarif.active.fa-check-circle,
.card-tarif.actived.fa-check-circle{
    color:rgba(0,201,174,1) !important;
    background-color:white;

}

.card-tarif.active .fa-check-circle,
.card-tarif:hover .fa-check-circle,
.card-tarif.active .encart_home_body,
.card-tarif:hover .encart_home_body,
.card-tarif.active .encart_home_head,
.card-tarif:hover .encart_home_head
{
 color: white !important;
}

.card-tarif:hover .start,
.card-tarif.active .start
{
    background-color: white !important;
    color:rgba(0,201,174,1) !important;
}
.card-tarif .btn.encart_home_body {
    padding: 5px 30px 10px 30px;
    margin-top: 10px;
}
.home-icon{
    padding-top: 0px;
    cursor: pointer;
}

@font-face {
    font-family: 'GalanoGrotesque';
    src: url('../fonts/galano_Grotesque/GalanoGrotesque.otf') format('opentype'), url('../fonts/galano_Grotesque/GalanoGrotesque.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesqueMedium';
    src: url('../fonts/galano_Grotesque/GalanoGrotesqueMedium.otf') format('opentype'), url('../fonts/galano_Grotesque/GalanoGrotesqueMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesqueAltRegular';
    src: url('../fonts/galano_Grotesque/GalanoGrotesqueAlt-Regular.eot') format('embedded-opentype'), url('../fonts/galano_Grotesque/GalanoGrotesqueAlt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GalanoGrotesqueAltMedium';
    src: url('../fonts/galano_Grotesque/GalanoGrotesqueAlt-Medium.eot') format('embedded-opentype'), url('../fonts/galano_Grotesque/GalanoGrotesqueAlt-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 0px;
    }
}


#navbarResponsive .navbar-nav {
    margin-top: 0px;
}


/** *** */
.navbar-light {
    opacity: 1;
    background-color: #ffffff;
    border-bottom: solid 1px #F7F8F9;
    box-shadow: 0px 0px 12px #0000001A;
}

.navbar-light .navbar-nav .nav-link {
    color: #062944;
    font-family: GalanoGrotesque ;
}


.navbar-dark .navbar-nav .nav-link {
    color: #062944;
    font-family: GalanoGrotesque ;
}

section {
    padding-top: 50px;
}

#preloader {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999999999;
    background: #fff; }

.loader {
    position: absolute;
    width: 5rem;
    height: 10rem;
    top: 50%;
    margin: 0 auto;
    left: 0;
    right: 0;
    transform: translateY(-50%); }

.circular {
    animation: rotate 2s linear infinite;
    height: 100%;
    transform-origin: center center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    stroke-linecap: round; }

@keyframes rotate {
    100% {
        transform: rotate(360deg); } }

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0; }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -3.5rem; }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -12.4rem; } }

@keyframes color {
    100%,
    0% {
        stroke: #d62d20; }
    40% {
        stroke: #0057e7; }
    66% {
        stroke: #008744; }
    80%,
    90% {
        stroke: #ffa700; } }

.wrap_step{
    font-family: "GalanoGrotesque";
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.line_step{
    width: 100px;
    text-align: right;
    border-top:dotted 5px #FF5A5F;
    margin: 0 15px 0 25px;
}

.line_step_active{
    width: 100px;
    text-align: right;
    border-top:solid 2px #FF5A5F;
    margin-left: 25px;
}

.circle_step{
    margin:10px;
    width:40px;
    height:40px;
    border-radius:100%;
    border: solid 1px #FF5A5F;
    color:#FF5A5F;
    background-color: #ffffff;
    text-align:center;
    font-size:22px;
    /*font-weight: bold;*/
    font-family: "GalanoGrotesqueMedium";
    overflow:hidden;
    line-height:28px;
}
.circle_step_active{
    margin:10px;
    width:40px;
    height:40px;
    border-radius:100%;
    background-color:#FF5A5F;
    color:#fff;
    text-align:center;
    font-size:22px;
    font-weight: bold;
    font-family: "GalanoGrotesqueMedium";
    overflow:hidden;
    line-height:28px;
}
.circle_step.one-line{line-height:40px;}
.circle_step_active.one-line{line-height:40px;}
.align_picto_avantage {
    line-height: 0.9em;
}

/* *** ** */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

.slick-thumbs{ display: block; width: 100%; }
img{ max-width: 100%; max-height: 100%; }

.slick-big-wrap img{ width: 100%; }

.slick-center .slick-slide{ text-align: center; border:1px solid #eee; }
.slick-center img{ text-align: center; margin:0 auto; }
.slick-center .slick-list, .slick-center .slick-track{ overflow: visible; }
.slick-center .slick-current { width: 0 30px; top: 50%; -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3); -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;  -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;}
/* *** ** */

/* *** customize datatable ** */
#list-meetings .page-item.active .page-link,
#list-testimonials .page-item.active .page-link,
#list-video-guide .page-item.active .page-link,
#list-partner .page-item.active .page-link
{
    z-index: 1;
    color: #fff;
    background-color: #00C9AE;
    border:none;
    border-radius: 100%;
}
#list-meetings .page-link,
#list-testimonials .page-link,
#list-video-guide .page-link,
#list-partner .page-link
{
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #062944;
      border: none !important;
  }
#list-meetings .page-link:hover,
#list-testimonials .page-link:hover,
#list-video-guide .page-link:hover
#list-partner .page-link:hover
{
    z-index: 2;
    color: #ffffff;
    text-decoration: none;
    background-color: #00C9AE;
    border-color: none;
    border-radius: 100%;
}
/* *** ** */
.itemsContainer {
    float:left;
    position:relative;
}
.itemsContainer:hover .play{display:block}
.play{
    top: 35%;
    position: absolute;
    display: none;
    align-items: center;
    text-align: center;
    left: 45%;
    z-index: 100;
}

.image-login{
    background: url('../images/hiboo_connexion.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px 0px 0px 6px;
}

.infoPlaceholder::-webkit-input-placeholder {
    font-weight: lighter;
    font-family: GalanoGrotesque;
}
.infoPlaceholder::-moz-placeholder {
    font-weight: lighter;
    font-family: GalanoGrotesque;
}
.infoPlaceholder::-ms-input-placeholder {
    font-weight: lighter;
    font-family: GalanoGrotesque;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.d-flex-center-left{
    display: flex;
    justify-content: left;
    align-items: center;
}
.d-flex-center-right{
    display: flex;
    justify-content: right;
    align-items: center;
}

/* Admin wysiwyg*/
.tox.tox-tinymce {
    width: 100% !important;
}

button.btn.circle-btn {
    border-radius: 50% !important;
}

.navbar-closer {
    color: white !important;
    background: #062944 !important;
}