.mobile-call-scrool{
    position: fixed;
    bottom: 0;
    z-index: 8;
    right: 0;
    left: 0;
}
.mobile-call-scrool .chevron-down{
    width: 50px !important;
    height: 50px !important;
    transform: rotate(-90deg) !important;
    background: transparent url('../images/chevron-down.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    left: 45%;
    margin-top: -10px;
}

.navbar-light.home-navbar-light{
    opacity: 1;
    border-bottom: none !important ;
    box-shadow: unset !important;
    background-color: #ffffff00 !important;
}   
.home-navbar-toggler{
    border-radius: 50%;
    width: 60px;
    height: 55px;
    background: #062944;
}
.home-navbar-toggler-icon {
    width: 34px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(225, 225, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    height: 45px;
    background-repeat: no-repeat;
    background-position: center;    
}
@media (max-width: 1500px){
    .advantage-item {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-right: 5px;
        padding-left: 6px;
    }
    .advantage-item .item-icon {
        width: 100%;
        text-align: center;
        padding-right: unset;
    }
    .advantage-item .item-desc {
        width: 100%;
    }
}

@media (max-width: 1340px) {
    .masthead:after {
        transform: scale(0.9);
        right: 0;
        bottom: -10vh;
    }
    .masthead .home-header-container .w-50{
        width: 60% !important;
    }

    
}
@media (max-width: 992px) {
    .masthead .home-header-container .w-50{
        width: 75% !important;
    }
    .masthead:before{
        content: none !important;
    }
    .advantage-group {
        display: block;
    }
    .advantage-item {
        display: inline-block;
        width: 48%;
        text-align: center;
        padding-right: 0px; 
        padding-left: 0px; 
        min-height: 150px;
        vertical-align: bottom;
        margin-top: 25px;
    }
    .advantage-item:last-child {
        width: 100%;
    }
    .advantage-item:last-child .item-desc {
        width: 50%;
        margin: auto;
    }
    .mobile-call-scrool.hidden{
        display: none !important;
    }
}
@media (max-width: 720px) {
 
    .masthead:after {
        content: " " !important;
        background-image: url('../images/Hiboo-Image-Fond.svg') !important;
        min-height: 220px;
        width: 70%;
        margin-left: 20%;
        background-size: cover;
        position: relative !important;
        background-size: 100% 100%;
        display: inline-block;
        bottom: 0px;
    }
    .masthead .home-header-container .w-50{
        width: 100% !important;
        margin-left: 15px !important;
        padding-right: 15px !important;
    }
    .masthead h1 {
        font-weight: 600;
        font-size: 62px;
    }
    .masthead h2 {
        font-size: 6vw;
        max-width: 100%;
        margin-bottom: 5vh;
    }

    .masthead #reunion-email {
        max-width: 90%;
        margin: 5px 0px 10px 0px !important;
        height: 45px;
        padding-top: 10px;
    }

    .masthead #btn-reunion-email{
        max-width: 90%;
        margin: 5px 0px 25px 10px !important;
        height: 45px;
        padding-top: 5px;
    }
    .rs-icons{
        display: none;
    }
    .advantage-group {
        padding-right: unset;
    }
    .advantage-group .img-title {
        font-size: 20px;
    }
    .advantage-item .item-desc {
        font-size: 14px;
    }
}
 
    /* Carousel*/
@media (max-width: 768px) {
    .multi-item-carousel .item__third {
        width: 100%;
        display: block;
    }
    .carousel.multi-item-carousel{
        max-height: 350px;
    }

    .multi-item-carousel .degradeNext ,
    .multi-item-carousel .degradePrev{
        background:unset !important;
    }

    .multi-item-carousel .carousel-control-prev, 
    .multi-item-carousel .carousel-control-next {
        margin-right: 95%;
        margin-left: 95%;
    }
    /*
    .rectangle{
        background-color: unset;
    }
    #testimonialCarousel{
        background-color: #ccfff8;

    }*/
    #testimonialCarousel .carousel-control-prev, 
    #testimonialCarousel .carousel-control-next {
        display: none;
    }
    .testimonial-rating,  
    #testimonialCarousel .user-name{
        text-align : center;
      }
    #testimonialCarousel .item__third {
        width: 75%;
        margin-left: 12.5%;
    }
}