.mobile-call-scrool{
   position: relative;
}
.mobile-call-scrool .chevron-down{
    width: 50px !important;
    height: 50px !important;
    transform: rotate(-90deg) !important;
    background: transparent url('../images/chevron-down.svg') 0% 0% no-repeat padding-box;
    opacity: 1;
    position: absolute;
    left: 45%;
    margin-top: -7rem;

}

.navbar-light.home-navbar-light{
    opacity: 1;
    border-bottom: none !important ;
    box-shadow: unset !important;
    background-color: #ffffff00 !important;
}   
.home-navbar-toggler{
    position: fixed;
    bottom: 25px;
    right: 25px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background: #062944;
}
.home-navbar-toggler-icon {
    width: 35px;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(225, 225, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    height: 35px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0;
    margin-left: -3px; 
}
@media (max-width: 1500px){
    .advantage-item .item-icon {
        width: unset;
        text-align: center;
    }  

    .advantage-item .item-desc {
        font-size: 14px;
    }
    
}

@media (max-width: 1340px) {
    .masthead:after {
        transform: scale(0.9);
        right: 0;
        bottom: -6vh;
    }
    .masthead .home-header-container .w-50{
        width: 60% !important;
    }

    .advantage-item {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-right: 5px;
        padding-left: 6px;
    }

    .advantage-item .item-icon {
        width: 100%;
        text-align: center;
        padding-right: unset;
        padding-bottom: 15px;
    }
    .advantage-item .item-icon img {
        height: 50px;
    }
    .advantage-item .item-desc {
        width: 100%;
    }

    
}
@media (max-width: 1280px) {
    .masthead:after {
        transform: scale(0.8);
        right: -20px;
        bottom: -7vh;
    }

}
@media (max-width: 1200px) {
    .masthead:after {
        transform: scale(0.7);
        right: -40px;
        bottom: -8vh;
    }
    .nav-item {
        padding: 15px 1vh;
    }
    .login,
    .signin {
        padding: 8px 10px 10px 10px;
    }
    
}
@media (max-width: 992px) {
    h2 {
        font-size: 1.5rem;
    }
    .nav-item {
        padding: 10px;
    }
    .masthead .home-header-container .w-50{
        width: 75% !important;
    }
    .masthead:before{
        content: none !important;
    }
    .advantage-group {
        display: block;
        margin-left: 2%;
    }
    .advantage-item {
        display: inline-block;
        width: 46%;
        text-align: center;
        padding-right: 0px; 
        padding-left: 0px; 
        min-height: 150px;
        vertical-align: bottom;
        margin-top: 25px;
    }
    .advantage-item:last-child {
        width: 100%;
    }
    .advantage-item:last-child .item-desc {
        width: 50%;
        margin: auto;
    }
    .advantage-item .item-icon img {
        height: unset;
    }

    .masthead:after {
        content: " " !important;
        background-image: url('../images/Hiboo-Image-Fond.svg') !important;
        min-height: 270px;
        width: 100%;
        position: relative !important;
        background-size: 100% 100%;
        display: inline-block;
        transform: scale(1);
        top: 15px;
    }

    #header .navbar-brand,
    #header .navbar-toggler.navbar-toggler-right{
        display: none !important;
    }
    #menu-primary.open .navbar-brand{
        display: block !important;
        margin: auto;
    }
    
    #menu-primary .navbar-light {
        opacity: 1;
        border-bottom: unset !important;
        box-shadow: unset !important;
    }
    #header{
        padding-top: 15px;
    }
    .masthead {
        padding-top: 3vh;
    }

    /***   **/
    .abonnement .btn.start{
        width: 60%;    
        padding-bottom: 12px !important;
    }
    .contact-btn{
        width: 60%;    
    }

    .partenaire-group{
        padding-bottom: 1.5rem !important;
        padding-top: 1.5rem !important;
    }
}
@media (max-width: 720px) {
    .d-mobile{
        display: block !important;
    }
    .masthead{
        margin-top: 1vh !important;
    }
    .masthead:after {
        min-height: 220px;
        width: 70%;
        top: 0px;
        /**margin-left: 12%;
        background-size: cover;
        position: relative !important;
        background-size: 100% 100%;
        bottom: 0px;
        display: inline-block;
        transform: scale(1);
        right: 0px!important
        */;
    }

    .masthead .home-header-container{
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    .advantage-section{
        margin : 0 !important;
        padding : 0 !important;
    }
    .masthead .home-header-container .w-50{
        width: 100% !important;
        margin-left: 15px !important;
        padding-right: 15px !important;
    }
    .masthead h1 {
        font-weight: 400;
        font-size: 62px;
    }
    .masthead h2 {
        font-size: 8vw;
        max-width: 100%;
        margin-bottom: 5vh;
    }

    .masthead #reunion-email {
        max-width: 90%;
        margin: 5px 0px 10px 0px !important;
        height: 45px;
        padding-top: 10px;
    }

    .masthead #btn-reunion-email{
        max-width: 90%;
        margin: 5px 0px 25px 10px !important;
        height: 45px;
        padding-top: 5px;
    }
    .rs-icons{
        display: none;
    }
    .advantage-group {
        padding-right: unset;
    }
    .advantage-item {
        width: 47%;
    }
    .advantage-group .img-title {
        font-size: 20px;
    }
    .advantage-item .item-desc {
        font-size: 14px;
    }
    .footer-menu.encart_home_body {
        font-size: 20px;
        font-weight: 800;
    }
}
 
    /* Carousel*/
@media (max-width: 768px) {
    .multi-item-carousel .item__third {
        width: 100%;
        display: block;
    }
    .carousel.multi-item-carousel{
        max-height: 350px;
    }

    .multi-item-carousel .degradeNext ,
    .multi-item-carousel .degradePrev{
        background:unset !important;
    }

    .multi-item-carousel .carousel-control-prev, 
    .multi-item-carousel .carousel-control-next {
        margin-right: 95%;
        margin-left: 95%;
    }
    /*
    .rectangle{
        background-color: unset;
    }
    #testimonialCarousel{
        background-color: #ccfff8;

    }*/
    #testimonialCarousel .carousel-control-prev, 
    #testimonialCarousel .carousel-control-next {
        display: none;
    }
    .testimonial-rating,  
    #testimonialCarousel .user-name{
        text-align : center;
      }
    #testimonialCarousel .item__third {
        width: 75%;
        margin-left: 12.5%;
    }
}

/** Iphone and large heigth pone ***/
@media (min-height: 720px) {
    .mobile-call-scrool .chevron-down{ 
        margin-top: -4rem;
    }
}
@media (min-height: 800px) {
    .mobile-call-scrool .chevron-down{ 
        margin-top: -1rem;
    }
}
