#menu_espc {
    background: #062944 0% 0% no-repeat padding-box;
    opacity: 1;
    letter-spacing: 0px;
    max-height: 60px;
    font-family: "GalanoGrotesque";
    z-index: 999;
}

#menu_espc .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-left: 35px;
}
.item-link {
    margin: 15px 25px 15px 0px;
}
.item-link.active {
    padding-bottom: 5px;
    border:solid 2px #00C9AE;
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
}
.item-link a:hover {
    padding-bottom: 5px;
    border:solid 2px #00C9AE;
    border-top: none;
    border-left: none;
    border-right: none;
    text-decoration: none;
}
#menu_espc a {
    color: #ffffff;
}
.wrapper_espc {
    font-family: "GalanoGrotesque";
}
.dropdown-menu a {
    color: #212529 !important;
}
.dropdown-menu a:hover {
    color: #ffffff !important;
    background: #062944 0% 0% no-repeat padding-box;
}

#navbarResponsive .navbar-nav {
    margin-top: 0px;
}

td .actions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
td .actions .btn-danger{
    background-color: #FF5A5F !important;
    border: solid 1px #FF5A5F;
}
td a {
    color: #00C9AE;
}
td a:hover {
    text-decoration: none;
}
.wrap_input {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 15px;
    align-items: center;
}
.item-input-label {
    min-width: 300px;
}

hr {
    margin-top: 35px;
    margin-bottom: 35px;
}

/*** date pikcer bootstrap material ***/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v53/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.logo_small{
    width: 184px;
    height: 46px;
    background-image:url("../images/logo_small.png") ;
}
.image-profil {
    border:solid 1px #00C9AE;
    width: 160px;
    height: 160px;
    border-radius: 50%;
}
img .image-profil {
    border:solid 1px #00C9AE;
    width: 160px;
    height: auto;
    border-radius: 50%;
}
.wrap_horizontal
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.input_copy {
    /*font-size: 12px !important;*/
    padding: 10px !important;
    /*width: 190px;*/
    border:none;
}
.accordion-panel {
    font-family: "GalanoGrotesque";
}
.accordion-panel .accordion {
    padding-top: 0px;
}
.accordion-panel .accordion dt {
    display: block;
    padding-bottom: 3px;
    color: #555;
    cursor: pointer;
    position: relative;
    user-select: none;
    border-bottom: solid 1px #ccc;
}
.accordion-panel .accordion dd {
    height: 0;
    overflow: hidden;
    transition: height .35s ease-out;
    margin-left: 0;
    margin-bottom: 20px;
    background: #F4F4F4;
}
.accordion-panel .accordion .content {
    padding: 5px 0px 5px 0px;
    overflow: auto;
}
.accordion-panel .plus-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    transition: transform 0.35s ease-out;
    position: absolute;
    right: 35px;
    top: 50%;
    margin-top: -12px;
}
.accordion-panel .plus-icon:before,
.accordion-panel .plus-icon:after {
    content: '';
    background: #6bbf49;
    position: absolute;
}
.accordion-panel .plus-icon:before {
    width: 2px;
    height: 15px;
    margin-left: -0.5px;
    left: 50%;
}
.accordion-panel .plus-icon:after {
    width: 15px;
    height: 2px;
    margin-top: -0.5px;
    top: 50%;
    opacity: 1;
    transition: opacity 0.35s ease-out;
}
.accordion-panel .is-open .plus-icon {
    transform: rotate(90deg);
}
.accordion-panel .is-open .plus-icon:after {
    opacity: 0;
}
.accordion-panel .hidden {
    display: none;
}
.accordion-panel .open-btn,
.accordion-panel .close-btn {
    cursor: pointer;
    position: absolute;
    right: 0;
    width: 90px;
}
.accordion-panel .buttons-wrapper {
    position: relative;
}
.accordion-panel .buttons-wrapper .plus-icon {
    position: absolute;
    right: 10px;
    top: 12px;
}

.StripeElement {
    box-sizing: border-box;

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

.box_param {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 15px;
}
.item_param {
    margin: 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border:solid 1px #ffffff;
    box-shadow: 0px 0px 10px #0000001A;
    border-radius: 6px;
    opacity: 1;
    max-width: 256px;
    max-height: 175px;
    color: #062944;
}

.head_text_param {
    text-align: center;
    font-family: GalanoGrotesqueMedium ;
    font-size: 18px;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 20px;
}

.body_text_param {
    text-align: center;
    font-family: "GalanoGrotesque";
    font-size: 14px;
    letter-spacing: 0px;
    opacity: 1;
    margin-top: 15px;
    padding: 0px 10px;
}

.item_param:hover {
    background-color: #00C9AE;
    color: #ffffff ;
}
.item_param.active {
    background-color: #00C9AE;
    color: #ffffff ;
}
div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: center !important;
}
.list_meeting_head {
    border-bottom: solid 1px #062944;
    font-family: GalanoGrotesque;
    padding-bottom: 13px;
    margin-bottom: 13px;
    text-align: left;
    letter-spacing: 0px;
    color: #062944;
    opacity: 1;
}
.list_meeting_head a:hover{
    text-decoration: none;
    color: #062944;
}
.list_meeting_border_radius {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000001A;
    border-radius: 5px;
    height: 50px;
    font-family: GalanoGrotesque;
    letter-spacing: 0px;
    color: #062944;
    opacity: 1;
}
.list_pagination {
    text-align: center;
    margin-top: 20px;
}

.list_pagination .pagination {
    display: flex;
    justify-content: center;
}

.list_pagination .pagination .first,
.list_pagination .pagination .previous,
.list_pagination .pagination .next,
.list_pagination .pagination .last
{
    display: none;
}

.list_pagination .pagination .current{
    display: block;
    width: 32px;
    height: 32px;
    margin: auto 20px;
    background: #00C9AE 0% 0% no-repeat padding-box;
    border-radius: 50%;
    font: normal normal normal 18px/28px GalanoGrotesque;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.list_pagination .pagination .page{
    margin: auto 20px;
    font: normal normal normal 18px/28px GalanoGrotesque;
    letter-spacing: 0px;
    color: #062944;
    opacity: 1;
}

