{% extends 'baseEmail.html.twig' %}

{% block content %}
    Bonjour, cet email fait l'objet d'une demande de contact pour un client . <br>
    Nom : {{ name }}<br>
    Adresse mail : {{ address_email }}<br>
    Son message : {{ message|nl2br }}<br><br>
{% endblock %}
{% block signature %}
    <table>
        <tr>
            <td>
                Logo
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                Le service client Hiboo
            </td>
        </tr>
        <tr>
            <td style="text-align: center">
                <a href="mailto:contact@hiboo.fr">contact@hiboo.live</a>
            </td>
        </tr>
    </table>
{% endblock %}