{% use 'bootstrap_4_layout.html.twig' %}

{% block _meeting_participant_participants_entry_widget %}
    <div class="row participant-proto-wrapper">
        <div class="col-4 pr-0">{{ form_widget(form.name) }}</div>
        <div class="col-6 pr-0 pl-1">{{ form_widget(form.email) }}</div>
        <div class="col-2 pl-0"><a class="remove_participant btn btn-danger ml-1 text-white small"><span class="fa fa-close"></span></a></div>
    </div>
{% endblock %}

{% block _meeting_participants_entry_widget %}
    <div class="row participant-proto-wrapper mt-1 mb-3">
        <div class="col-4 pr-0">{{ form_widget(form.name) }}</div>
        <div class="col-6 pr-0 pl-1">{{ form_widget(form.email) }}</div>
        <div class="col-2 pl-0"><a class="remove_participant btn btn-danger ml-1 text-white small"><span class="fa fa-close"></span></a></div>
    </div>

{% endblock %}
