{% use 'bootstrap_4_layout.html.twig' %}

{% block _meeting_participant_participants_entry_widget %}
    <div class="flex-column my-1 ml-1">
        <div class="input-group participant-proto-wrapper">
            {{ form_widget(form.email) }}
            <a class="remove_participant btn btn-danger ml-1 encart_home_body text-white small"><span class="fa fa-close"></span></a>
        </div>
    </div>
{% endblock %}