<footer>
    <div class="container ">
        <div class="row footer-form" >
            <div class="col-lg-12 col-md-10 mx-auto text-center">

                <h2 class="text-danger encart_home_head"> Une question ? contactez nous !  </h2>
                <p class="encart_home_body">Aenean non accumsan ante. Duis et risus accumsan sem tempus porta nec sit amet est. Sed ut euismod quam. Suspendisse potenti. Aliquam fringilla orci tincidunt, ullamcorper erat in, malesuada metus.</p>
                <button class="btn btn-danger col-lg-4 encart_home_body"> Nous contactez</button>
            </div>
        </div>
        <div class="row  footer-social text-center">
            <div class="col-md-4 footer-brand animated fadeInLeft">

                <a class="footer-menu encart_home_body" href="#">FAQ</a>
                <a class="footer-menu encart_home_body" href="#">CGU</a>
                <a class="footer-menu encart_home_body"  href="#">CGV</a>

            </div>
            <div class="col-md-4 footer-brand animated fadeInLeft">
                <h6 class=" encart_home_body"><u class="footer-blue-underline" >Made </u>in France <u class="footer-red-underline">with</u> <span class="fa fa-heart"></span> </h6>
            </div>
            <div class="col-md-4 footer-brand animated fadeInLeft text-center">
                <div class="footer-icon fa fa-facebook   "></div>
                <div class="footer-icon fa fa-twitter   "></div>
                <div class="footer-icon fa fa-instagram   "></div>
                <div class="footer-icon fa fa-youtube   "></div>
                <div class="footer-icon fa fa-linkedin  "></div>
            </div>

        </div>
    </div>
</footer>