<h2 class="text-center encart_home_head text-green">Ils nous font confiance </h2>
<div class="rectangle text-center py-5">
    {% for row in partners %}
        <div class="col-md-3 rectangle-logo">
            <a href="{{ row.webSite }}" target="_blank">
                <img  class="img-fluid" src="{{ asset('uploads/images/' ~ row.pdc) }}">
            </a>
        </div>
    {% endfor %}
</div>
