<a{% for attr, value  in options %} {{ attr }}="{{ value }}"{% endfor %} >
    <span class="mr-5">{{ title }}</span>
    <span class="pull-right">
        {% if sorted %}
            {% if direction == 'desc' %}
                <i class="fa fa-chevron-up"></i>
            {% else %}
                <i class="fa fa-chevron-down"></i>
            {% endif %}
        {% else %}
            <i class="fa fa-chevron-down" style="color: #062944;"></i>
        {% endif %}
    </span>
</a>
